.Button {
    cursor: pointer;
    margin: 2px;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.navbar {
    padding: 0;
    background: deepskyblue;
    outline: none;
}
