.app.dark {
    --bg-color: #3C3C3C;
    --inverted-bg-color: #ED6593;

    --primary-color: #fff;
    --secondary-color: #a2b3b3;

    --inverted-primary-color: #fff;
    --inverted-secondary-color: #5f9191;
}