.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links {
  margin-left: auto;
}

.mainLink {
  margin-right: 15px;
}

.header {

}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  flex-flow: row nowrap;
}

.toggle {
  padding-right: 20px;
}
